In [1]:
import sqlite3
db = sqlite3.connect('game.db')
cursor = db.cursor()
print('Connect ok')

Connect ok

In [2]:
# Create table
cursor.execute('''CREATE TABLE `happy_bird` ( `id`     INTEGER   PRIMARY KEY   AUTOINCREMENT ,
                                           `name`   VARCHAR   NOT           NULL , 
                                           `score`  INT(255)  NOT           NULL , 
                                           `time`   DATETIME  NOT           NULL            DEFAULT CURRENT_TIMESTAMP )''')

print('Table created.')
db.commit()

Table created.

In [4]:
User='test'
Score=50
cursor.execute('INSERT INTO `happy_bird`( `name`, `score`) VALUES (?,?)',[User,Score])
db.commit()

In [6]:
test = cursor.execute('''SELECT * FROM `happy_bird`''')
db.commit()
A=list(test)
A

[(1, 'test', 50, '2020-09-23 05:44:27')]

In [11]:
from datetime import datetime,timezone,timedelta
def TW_Time(T):
    dt1 = datetime.strptime(T, '%Y-%m-%d %H:%M:%S').replace(tzinfo=timezone.utc)
    dt2 = dt1.astimezone(timezone(timedelta(hours=8))) # 轉換時區 -> 東八區
    return dt2.strftime("%Y-%m-%d %H:%M:%S")

In [14]:
CS = list(cursor.execute('SELECT * FROM `happy_bird` WHERE `name` = ? Order BY `time` DESC',['test']))
if len(CS):
    print(f'目前分數:   {CS[0][2]}   {TW_Time(CS[0][3])}')

1
目前分數:   50   2020-09-23 13:44:27