In [2]:
import sqlite3
db = sqlite3.connect('game.db')
cursor = db.cursor()
print('Connect ok')

Connect ok

In [3]:
# Create table
cursor.execute('''CREATE TABLE `laser_eye` ( `id`     INTEGER   PRIMARY KEY   AUTOINCREMENT ,
                                           `name`   VARCHAR   NOT           NULL , 
                                           `score`  INT(255)  NOT           NULL , 
                                           `time`   DATETIME  NOT           NULL            DEFAULT CURRENT_TIMESTAMP )''')

print('Table created.')
db.commit()

Table created.

In [ ]:
User='test'
Score=50
cursor.execute('INSERT INTO `laser_eye`( `name`, `score`) VALUES (?,?)',[User,Score])
db.commit()

In [16]:
test = cursor.execute('''SELECT * FROM `laser_eye`''')
db.commit()
A=list(test)
A

[(1, 'TING_HAO', 11, '2020-09-22 13:27:10'),
 (2, 'TING_HAO', 2, '2020-09-22 14:20:22'),
 (3, 'TING_HAO', 23, '2020-09-22 14:29:40'),
 (4, 'TING_HAO', 14, '2020-09-22 14:30:11'),
 (5, 'TING_HAO', 0, '2020-09-22 14:32:28'),
 (6, 'guest', 3, '2020-09-22 14:53:03'),
 (7, 'guest', 15, '2020-09-22 14:53:26')]

In [12]:
from datetime import datetime,timezone,timedelta
def TW_Time(T):
    dt1 = datetime.strptime(T, '%Y-%m-%d %H:%M:%S').replace(tzinfo=timezone.utc)
    dt2 = dt1.astimezone(timezone(timedelta(hours=8))) # 轉換時區 -> 東八區
    return dt2.strftime("%Y-%m-%d %H:%M:%S")

In [15]:
CS = list(cursor.execute('SELECT * FROM `laser_eye` WHERE `name` = ? Order BY `time` DESC',['TING_HAO']))
if len(CS):
    print(f'目前分數:   {CS[0][2]}   {TW_Time(CS[0][3])}')

目前分數:   11   2020-09-22 21:27:10